/***********

FONTS

*********/

body{
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

@font-face {
  font-family: 'vaivai_handwrittingregular';
  src: url('vaivai_handwritting_regular_mac-webfont.woff2') format('woff2'),
    url('vaivai_handwritting_regular_mac-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
  font-family:"Big Bimbo NC";
  src:url("Big_Bimbo_NC.eot?") format("eot"),url("Big_Bimbo_NC.woff") format("woff"),url("Big_Bimbo_NC.ttf") format("truetype"),url("Big_Bimbo_NC.svg#BigBimboNC") format("svg");
  font-weight:normal;
  font-style:normal;}

@font-face {
  font-family:"Vaivai handwriting";
  src:("Vaivai_Handwriting.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;}

@font-face {
  font-family: 'miss_roosterregular';
  src: url('copie_de_missrooster-regular-webfont.woff2') format('woff2'),
    url('copie_de_missrooster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/**************

HEADER

**************/


header{
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #59200a;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

nav ul.nav{
  list-style: none;
}

nav ul.nav li{
  text-align: center;
}

nav ul.nav li a{
  font-family: Big Bimbo NC;
  text-decoration: none;
  text-transform: uppercase;
  color: #59200a;
}

li.columns.large-2{
  padding-top: 21px;
}

#contact{
  color: #d80972;
}

/**************

Main

************/

.titleSlider{
  float:left;
}

.section_carroussel{
  float: left;
}
.img_left{
  float: left;
}

p.txt3{
  margin-left: 15px;
}

/************

FOOTER

*************/
li.columns.large-2{
  padding-top: 25px;
  padding-bottom:30px; 
}
li{
  list-style: none;
}

.full-width {
  max-width: 1500px;
}

.footer {
  border-top: solid;
  border-top-width: 1px;
  padding: 2rem 4rem;
  text-align: center;
}
.footer i {
  font-size: 60px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .1em;
}
#footer_droite li a{
  color: black;

}
.h4 h4{
  color: black;
  font-family: Big Bimbo NC;

}
#footer_droite{
  font-family: Big Bimbo NC;
}


